body{
  font-family: sans-serif;
  max-width: 48em;
  margin: auto;
  padding: 0 5%;
  background: black; /*#222;*/
  color: #fff;
}
h1 {
  margin: 2em 0 0;
}
p {
  font-size: 1.2em
}
button {
  display: block;
  margin: 0px 0px 20px 0px;
  border: none;
  color: #fff;
  /*font-size: 1.2em;*/
  font-size: 0.9em;
  background: #27e;
  padding: 0.5em 0.75em 0.6em;
  border-radius: 3px;
  box-shadow: 0 3px 0 #05c;
  outline: none;
}
button:active {
  transform: translateY(3px);
  box-shadow: none;
  display: block;
}
strong {

  letter-spacing: 1px;
  word-wrap: break-word;
}
@media (min-width: 32em) {
  h1 {
    font-size: 4em;
  }
  strong {
    font-size: 1.5em;
  }
}
input {
	display: block;
	margin: 10px 0px 10px 0px;
}
#yourfingerprint {
	display: none;
} 