.idea/*
*/.idea/*
*.pyc
app/finger/__init__.pyc
app/finger/admin.pyc
app/finger/migrations/__init__.pyc
app/finger/migrations/0001_initial.pyc
app/finger/models.pyc
app/finger/serializer.pyc
app/finger/views.pyc
app/fingerprint/__init__.pyc
app/fingerprint/settings.pyc
app/fingerprint/urls.pyc
app/fingerprint/wsgi.pyc
